<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.EuneizChef"
        tools:targetApi="31">
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".categories.SearchResultsActivity"
            android:exported="false"
            android:label="Search Recipes"
            android:parentActivityName=".CategoriesActivity" />
        <activity
            android:name=".categories.AreaRecipesActivity"
            android:exported="false"
            android:label="Area"
            android:parentActivityName=".CategoriesActivity" />
        <activity
            android:name=".categories.CategoryRecipesActivity"
            android:exported="false"
            android:label="Category"
            android:parentActivityName=".CategoriesActivity" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false"
            android:label="Discover Recipes" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:label="My Favorites" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Welcome to EuneizChef">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>